@model BookStoreCorrected.Models.Person

@{
	ViewBag.Title = "Hello";
}

<h2>Hello, <span data-bind="text: name"></span></h2>

@section Scripts{
	<script>
        function ViewModel() {
            this.name = 'Łukasz Strych';
        };

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
	</script>
}

<!--

<h2>Hello, <span data-bind="text: getName()"></span></h2>
<p>This is basic project that will show u step by step foundation of web api development.</p>

<script>
	var viewModel = {
		name: "Łukasz Strych"
	};
	ko.applyBindings(viewModel);
</script>





	<script>
	function ViewModel(firstName,lastName)
	{
		var self = this;
		self.name= firstName + ' ' + lastName;
		self.getName = function()
		{
			return self.name;
		};
	};

	var viewModel = new ViewModel('Model.FirstName', 'Model.LastName');
	ko.ApplyBindings(viewModel);

	</script>
}
	-->
